---
apiVersion: v1
kind: Secret
metadata:
  namespace: longhorn-system
  name: longhorn-grpc-tls
type: kubernetes.io/tls
data:
  ca.crt: {{ longhorn_ca_crt['content'] }}
  tls.crt: {{ longhorn_tls_crt['content'] }}
  tls.key: {{ longhorn_tls_key['content'] }}